{% set repos %}
  {% if NIGHTLY_REPO is defined %}
    <repo name="Nightly-BaseOS" url="http://download.eng.rdu2.redhat.com/rhel-8/nightly/updates/RHEL-8/{{ NIGHTLY_REPO }}/compose/BaseOS/{{ ARCH }}/os/"/>
    <repo name="Nightly-AppStream" url="http://download.eng.rdu2.redhat.com/rhel-8/nightly/updates/RHEL-8/{{ NIGHTLY_REPO }}/compose/AppStream/{{ ARCH }}/os/"/>
    <repo name="Nightly-CRB" url="http://download.eng.rdu2.redhat.com/rhel-8/nightly/updates/RHEL-8/{{ NIGHTLY_REPO }}/compose/CRB/{{ ARCH }}/os/"/>
    {% if "rt" in COMPONENTS %}
      <repo name="Nightly-RT" url="http://download.eng.rdu2.redhat.com/rhel-8/nightly/updates/RHEL-8/{{ NIGHTLY_REPO }}/compose/RT/{{ ARCH }}/os/"/>
    {% endif %}
  {% endif %}
  {% if PULP_RELEASE is defined %}
    <repo name="pulp_0" url="https://rhsm-pulp.corp.redhat.com/content/{{ distro_type }}/rhel8/{{ PULP_RELEASE }}/{{ ARCH }}/appstream/os/"/>
    <repo name="pulp_1" url="https://rhsm-pulp.corp.redhat.com/content/{{ distro_type }}/rhel8/{{ PULP_RELEASE }}/{{ ARCH }}/baseos/os/"/>
    <repo name="pulp_2" url="https://rhsm-pulp.corp.redhat.com/content/eus/rhel8/{{ PULP_RELEASE }}/{{ ARCH }}/codeready-builder/os/"/>
    {% if "rt" in COMPONENTS %}
      <repo name="pulp_3" url="https://rhsm-pulp.corp.redhat.com/content/tus/rhel8/{{ PULP_RELEASE }}/{{ ARCH }}/rt/os/"/>
    {% endif %}
  {% endif %}
{% endset %}
{% set kernel_options_post = "rd.emergency=reboot" %}
{# add efi=runtime otherwise reboot using kernel-rt will fail on machines with UEFI #}
{% if "rt" in COMPONENTS %}
  {% set kernel_options_post = kernel_options_post + " efi=runtime" %}
{% endif %}
